alias apt='sudo apt'
alias cp='cp -v'
alias cp='mv -v'
alias cp='rm -v'
alias dnf='sudo dnf'
alias egrep='egrep -i --color=auto'
alias fgrep='fgrep -i --color=auto'
alias grep='grep -i --color=auto'
alias openfortivpn='sudo openfortivpn'