# /etc/hosts
172.16.100.201	security		security.dexter.com.br	
172.16.100.202	storage			storage.dexter.com.br	
172.16.100.203	web01			web01.dexter.com.br	
172.16.100.204	web02			web02.dexter.com.br	
172.16.100.205	proxy			proxy.dexter.com.br	
172.16.100.206	mail			mail.dexter.com.br	
172.16.100.207	devops			devops.dexter.com.br	
200.100.50.150	cliente-externo	cliente-externo.dexter.com.br	