#/etc/environment
PS1="\[\033[01;34m\]\W\[\033[00m\]\$ "
WINHOME="/mnt/c/Users/ec2-user"
ORIGEM="/mnt/c/Users/ec2-user/SCM/dexter-linux/env"
DESTINO="/mnt/c/Users/ec2-user/SCM/dexter-linux/inventory/"
PATH=$PATH:$HOME/.local/bin:$HOME/bin
HISTTIMEFORMAT="[%d/%m/%y %T] "'